### importar librerias

In [23]:
import pandas as pd
import numpy as np
from bdatos import Bdatos
from ingestar import Ingestar

import warnings
warnings.filterwarnings("ignore")

### Inicializar

In [25]:
db_path = "/workspaces/piv_2025_2/src/proyecto_integrador/static/db/basedatos.db"
bd = Bdatos(db_path)
ingestar = Ingestar()

### ingestar informacion en un df

In [62]:
#blastchar/telco-customer-churn
df = pd.DataFrame()
dataset = ingestar.download_dataset_zip(kaggle_ref="blastchar/telco-customer-churn")
ruta_unzip= ingestar.extract_zip_files(dataset)
df = ingestar.load_dataset_as_dataframe(ruta_unzip)
df.head(3)

Descargando dataset desde Kaggle...
Ruta al dataset: /home/codespace/.cache/kagglehub/datasets/blastchar/telco-customer-churn/versions/1
Archivos encontrados en la descarga: ['WA_Fn-UseC_-Telco-Customer-Churn.csv']
Se detectaron archivos CSV directamente en la carpeta descargada.
Leyendo CSV /home/codespace/.cache/kagglehub/datasets/blastchar/telco-customer-churn/versions/1/WA_Fn-UseC_-Telco-Customer-Churn.csv ...
✅ Dataset cargado correctamente en DataFrame.

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

### Tablas, insertar y consultar informacion

In [20]:
bd.insertar_dataframe(df=df,tabla="tbl_churn")

In [26]:
df.to_csv("/workspaces/piv_2025_2/src/proyecto_integrador/static/csv/churn.csv")

In [29]:
query = "select count(*) from tbl_churn where gender = 'Male' "
df_2 = bd.consultar(query)
df_2.head(2)

   count(*)
0      3555

### Limpieza de datos

In [63]:
# Limpieza
df.drop_duplicates(inplace=True)

# Convertir TotalCharges a numérico (algunos valores pueden ser espacios vacíos)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Manejo de nulos: eliminar filas con nulos en TotalCharges
df.dropna(subset=['TotalCharges'], inplace=True)

# Normalización de texto en categóricas
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip().str.lower()

### Enriquecimiento de datos

In [65]:
# Definir rango de fechas
start_date = pd.to_datetime("2022-01-01")
end_date = pd.to_datetime("2024-12-31")

# Número de filas
n = len(df)

# Generar fechas aleatorias
random_days = np.random.randint(0, (end_date - start_date).days, n)
df['Fecha'] = start_date + pd.to_timedelta(random_days, unit='D')

# 4. Extraer año, mes y día
df['Año'] = df['Fecha'].dt.year
df['Mes'] = df['Fecha'].dt.month
df['Día'] = df['Fecha'].dt.day

# 5. Mostrar resultado
print(df[['Fecha','Año','Mes','Día']].head())

       Fecha   Año  Mes  Día
0 2022-07-05  2022    7    5
1 2022-12-17  2022   12   17
2 2023-04-10  2023    4   10
3 2022-06-04  2022    6    4
4 2023-09-14  2023    9   14